body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
form{
    text-align: center;
}
#Input{
    margin-top: 1rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
    padding-bottom:0rem ;
}
#Submit{
    margin-bottom: 10rem;

}
#InpB{
    text-align: center;
    
}
.DIV{

    text-align: center;
    background-color: grey;
   
}
.Del{
    background-color: white;
    color: rgb(80, 80, 80);
    border:20px, grey;
}
